{% extends 'base.html' %}

{% block content %}
</head>



<div classs='container-fluid'>
<div class="bg-img">

<section>
  <div class="row">
    <div class="col-md-4"> <h1>Blog</h1>
            {{blog.blog}} </div>
            <div class="col-md-4">

            <h1> Comment Your Blog</h1>
                    {{ wtf.quick_form(blogform) }}

            {{simplemde.load}}

            </div>
            <div class="col-md-4 container-fluid">

            {% for blogcomments in blogcomments %}
                <blockquote>{{blogcomments.blogcom}}</br>
    <a href="#"><span class=" glyphicon glyphicon-thumbs-up"></span></a> &nbsp; <a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a>
            </blockquote>
            {% endfor %}

        </div>
</section>

</div>
</div>
</div>


{% endblock %}