{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    {{wtf.quick_form(blogcomment_form)}}

	
	{% if all_comments %}
	<div class="row text-center">
		{% for comment in all_comments %}
	
  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <h3 class="card-title pt-2"><strong>{{ comment.comments}}</strong></h3>
		<h5 class="pink-text">By: {{comment.user.username}}</h5>
    </div>

{% endfor %}

{% else %}
    <h3>No comments</h3>
{% endif %}
</div>


{% endblock %}